<form class="dialog-container" [formGroup]="suggestionForm">
  <div class="dialog-card mt-4">
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>What's your suggestion?</mat-label>
        <input
          matInput
          formControlName="suggestion"
          placeholder="Enter your suggestion"
          required>
        <mat-error
          *ngIf="suggestionForm.get('suggestion')?.invalid && suggestionForm.get('suggestion')?.touched">
          Suggestion is required.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="button-group">
      <button
        mat-raised-button
        color="primary"
        [disabled]="suggestionForm.invalid"
        (click)="submit()">
        OK
      </button>
      <button
        mat-raised-button
        color="warning"
        class="mx-2"
        (click)="dialogRef.close()">
        Cancel
      </button>
    </mat-card-actions>
  </div>
</form>
